       
       <footer>
            <div class="copyright">&copy Copyright 2023. Daly Music Academy</div>
            <div class="social-links">
                <a href="https://www.facebook.com/dalymusicacademy" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/dalylivemusic/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/DalyLiveMusic" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/ross-daly-90338519/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="mailto:info@dalymusicacademy.ca" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </footer>

        
</body>

</html>